.red{
	color : red;
}

.green{
	color : green;
}

body
{
	font-family: verdana,arial, sans-serif;
	background-color:rgb(255,220,185);
	
}


header
{
	font-style: italic;
	background-color:white;
	text-align: center;
}

.container
{
	text-align: center;
	display: flex;
    justify-content: center;
}

h1
{
	color : rgb(0,130,0);
}

#titre_tableau
{
	font-size: 1em;
	margin-top : 10px;
}

#photos_accueil
{
	display : flex;
	
}

#sites_d_escalade
{
	margin-top : 10px;
}

#boutonAjoutSpot, #boutonRechercheSpotByNom
{
    display: flex;
    justify-content: flex-start;
    
}

#boutonRechercheTopoDispo, #boutonRechercheSpotByDepartement
{
    display: flex;
    justify-content: flex-end;
}

th
{
	text-align: center;
}

img 
{
	max-width: 100%;
	height: auto;
}

figure
{
	margin : auto;
}

figcaption
{
	font-style: italic;
	text-align: center;
}

nav ul
{
	list-style-type: none;
	display : flex;
	flex-wrap: nowrap;
	justify-content: center;
}

nav li 
{
  	margin: 10px;
  	padding: 2px;
  	border: solid black;
  	border-radius : 5px;
  	background-color: #c0c0c0;
}	

nav a 
{
	font-size: 1em;
	color: black;
	text-decoration: none;
}


#formulaire
{
	display: flex;
	justify-content: center;
}

#welcome
{
	display: flex;
	justify-content: center;
}



input
{
	display: flex;
	margin-right : 10px;
	margin-left: 10px;
}


 button
 {
 	margin-right: 10px;
 	
 }
 
footer
{
	text-align: center;
}

