.red{
	color : red;
}

.green{
	color : green;
}

body
{
	font-family: verdana,arial, sans-serif;
	background-color:rgb(255,220,185);
	
}


header
{
	font-style: italic;
	background-color:white;
	text-align: center;
}

.container
{
	text-align: center;
	display: flex;
    justify-content: center;
}

#titre_principal
{
	color : rgb(0,130,0);
}

#titre_tableau
{
	font-size: 1em;
	font-style: italic;
	margin-top : 30px;
	color : #0000a0;
}

#photos_accueil
{
	display : flex;	
}

#sites_d_escalade, #recherche
{
	margin-top : 30px;
}

#formAjoutSpot, #formRechercheSpotByNom
{
    display: flex;
    justify-content: flex-start;   
}

#formRechercheTopoDispo, #formRechercheSpotByDepartement
{
    display: flex;
    justify-content: flex-end;
}

#boutonRechercher
{
    margin-left: 10px;
}

#categories_espace_perso{
	margin-top : 30px;
}


th
{
	text-align: center;
}

img 
{
	max-width: 100%;
	height: auto;
}

figure
{
	margin : auto;
}

figcaption
{
	font-style: italic;
	text-align: center;
}

nav ul
{
	list-style-type: none;
	display : flex;
	flex-wrap: nowrap;
	justify-content: center;
	
}

nav li 
{
  	margin: 10px;
  	padding: 2px;
  	border: solid black;
  	border-radius : 5px;
  	background-color: #c0c0c0;
}	

nav a 
{
	font-size: 1em;
	color: black;
	text-decoration: none;
}


#formulaire
{
	display: flex;
	justify-content: center;
}

#welcome
{
	display: flex;
	justify-content: center;
	color : #0000a0;
}

button
 {
 	margin-right: 10px;
 }
 
.glyphicon-heart{
	
		color : #ff00ff;
} 
 
footer
{
	text-align: center;
	margin-top : 30px;
	
}

