<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{Layout}">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Les amis de l'escalade - Mise en relation et partage entre passionés</title>
</head>

<body>

<div class="container">

	<div class="panel panel-default">	
		<div class="panel-heading">Accès refusé</div>
			<div class="panel-body">
				<h3 class="red">Vous n'êtes pas autorisé à accéder à cet espace</h3>
			</div>
	</div>
</div>



    <footer>
       <p>Copyright Les amis de l'escalade - Tous droits réservés</p>  
    </footer>  


</body>
</html>