<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{Layout}">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Les amis de l'escalade - Mise en relation et partage entre passionés</title>
</head>

<body>

<section layout:fragment="content">

<div class="container">
	<div class="form-group">
		
		<div><strong>Vous êtes déjà connecté ! Il faudrait d'abord vous déconnecter avant de vous reconnecter !</strong></div>
			
			
	</div>
</div>

</section>

<footer>
<p layout:fragment="footer"></p>
</footer> 

</body>
</html>