<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{Layout}">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Les amis de l'escalade - Mise en relation et partage entre passionés</title>
</head>

<body>

<section layout:fragment="content">

<div class="container">
	<dl>
		<dt>Vous avez bien ajouté ce topo</dt>
			
		<dt>Nom:</dt>
		<dd th:text="${topo.nom}"></dd>
				
		<dt>Lieu:</dt>
		<dd th:text="${topo.lieu}"></dd>
			
		<dt>Date de parution:</dt>
		<dd th:text="${topo.dateParution}"></dd>
			
		<dt>Description:</dt>
		<dd th:text="${topo.description}"></dd>
	</dl>			
</div>

</section>

<footer>
<p layout:fragment="footer"></p>
</footer> 

</body>
</html>