<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{Layout}">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Les amis de l'escalade - Mise en relation et partage entre passionés</title>
</head>

<body>

<section layout:fragment="content">

<div class="container">

	<div class="panel panel-default">	
		<div class="panel-heading"><strong>Vous avez bien ajouté ce topo</strong></div>
			<div class="panel-body">
				
				<label>Nom:</label>
				<label th:text="${topo.nom}"></label>
				
				<label>Lieu:</label>
				<label th:text="${topo.lieu}"></label>
				
				<label>Date de parution:</label>
				<label th:text="${topo.dateParution}"></label>
				
				<label>Description:</label>
				<label th:text="${topo.description}"></label>
				
				<label>Statut:</label>
				<label th:text="${topo.statut}"></label>	
			</div>
	</div>
</div>

</section>

<footer>
<p layout:fragment="footer"></p>
</footer> 

</body>
</html>