<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{Layout}">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Les amis de l'escalade - Mise en relation et partage entre passionés</title>
</head>

<body>

<section layout:fragment="content">

<div class="container">
	<span class="green"><strong>Félicitations ! Votre compte a été crée avec succès ! Bienvenue chez les amis de l'escalade !</strong></span>
	<dl>
		<dt>Pour rappel, voici votre pseudo de connection : </dt>
			
		<dt>Pseudo:</dt>
		<dd th:text="${utilisateur.pseudo}"></dd>
				
	</dl>			
</div>

</section>

<footer>
<p layout:fragment="footer"></p>
</footer> 

</body>
</html>