<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{Layout}">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Les amis de l'escalade - Mise en relation et partage entre passionés</title>
</head>

<body>

<section layout:fragment="content">

<div id="categories_espace_perso" class="container">
	
	<div id="espace_perso_spot" class="container">
    	<form class="form-inline" th:action="@{/user/espacepersomesspots}" method="get">
			<button class="btn btn-primary"><strong>MES SPOTS</strong></button>	
		</form>	
	</div>	
	
	<div id="espace_perso_topos" class="container">
    	<form class="form-inline" th:action="@{/user/espacepersomestopos}" method="get">
			<button class="btn btn-primary"><strong>MES TOPOS</strong></button>	
		</form>	
	</div>	

	<div id="espace_perso_topos_demandes" class="container">
    	<form class="form-inline" th:action="@{/user/espacepersotoposdemandes}" method="get">
			<button class="btn btn-primary"><strong>TOPOS DEMANDES</strong></button>	
		</form>	
	</div>
	
	<div id="espace_perso_reservations" class="container">
    	<form class="form-inline" th:action="@{/user/espacepersoreservations}" method="get">
			<button class="btn btn-primary"><strong>RESERVATIONS</strong></button>	
		</form>	
	</div>	
		
</div>	


<div id="titre_tableau" class="container">
	<h4><strong> MES DEMANDES DE RESERVATION </strong></h4>
</div>	
	
<div class="container">
	
	<div id="listeDemandesReservation" class="table-responsive col-lg-9 col-md-6 col-xs-6">		
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Nom du topo</th><th>Nom du spot</th><th>Demandeur</th><th>Statut</th>
					<th class="green">Accepter</th>
					<th class="red">Refuser</th>					
				</tr>
			</thead>
			<tbody>
				<tr th:each="reservation:${listeReservationsToposUtilisateur}">
					<td th:text="${reservation.topo.nom}"></td>
					<td th:text="${reservation.topo.spot.nom}"></td>					
					<td th:text="${reservation.utilisateur.pseudo}"></td>
					<td th:text="${reservation.statut}"></td>					
					<td><a th:if="${reservation.enCours}" th:href="@{/user/resaOk(idReservation=${reservation.id})}"  class="btn btn-primary"><strong><span class="glyphicon glyphicon-thumbs-up"></span></strong></a></td>	
					<td><a th:if="${reservation.enCours}" th:href="@{/user/refusResa(idReservation=${reservation.id})}"  class="btn btn-primary"><strong><span class="glyphicon glyphicon-thumbs-down"></span></strong></a></td>				
				</tr>
			</tbody>
		</table>
	</div>

</div>

</section>

<footer >
  <p>Copyright Les amis de l'escalade - Tous droits réservés</p>  
</footer>  


</body>
</html>