<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{Layout}">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Les amis de l'escalade - Mise en relation et partage entre passionés</title>
</head>

<body>

<section layout:fragment="content">

<div id="categories_espace_perso" class="container">
	
	<div id="espace_perso_spot" class="container">
    	<form class="form-inline" th:action="@{/user/espacepersomesspots}" method="get">
			<button class="btn btn-primary"><strong>MES SPOTS</strong></button>	
		</form>	
	</div>	
	
	<div id="espace_perso_topos" class="container">
    	<form class="form-inline" th:action="@{/user/espacepersomestopos}" method="get">
			<button class="btn btn-primary"><strong>MES TOPOS</strong></button>	
		</form>	
	</div>	

	<div id="espace_perso_topos_demandes" class="container">
    	<form class="form-inline" th:action="@{/user/espacepersotoposdemandes}" method="get">
			<button class="btn btn-primary"><strong>TOPOS DEMANDES</strong></button>	
		</form>	
	</div>
	
	<div id="espace_perso_reservations" class="container">
    	<form class="form-inline" th:action="@{/user/espacepersoreservations}" method="get">
			<button class="btn btn-primary"><strong>RESERVATIONS</strong></button>	
		</form>	
	</div>	
		
</div>	

	
<div id="titre_tableau" class=container>
	<h4><strong> MES SPOTS </strong></h4>
</div>
	
<div id="mes_spots" class=container>
	<table class="table table-bordered table-striped">		
		<thead>
			<tr>
				<th>Nom</th><th>Département</th>
				<th>Supprimer</th>
				<th>Secteurs</th>
				<th>Commentaires</th>			
			</tr>
		</thead>
		<tbody>
			<tr th:each="spot:${listeSpotsUtilisateur}">
				<td th:text="${spot.nom}"></td>
				<td th:text="${spot.departement}"></td>
				<td><a onclick="return confirm('Etes-vous sûr de vouloir supprimer ?')" th:href="@{/user/supprimerspot(idSpot=${spot.id})}"><span class="glyphicon glyphicon-trash"></span></a></td>				
				<td><a th:href="@{/user/ajoutersecteur(idSpot=${spot.id})}"><span class="glyphicon glyphicon-flag"></span></a></td>									
				<td><a th:href="@{/user/ajoutercommentaire(idSpot=${spot.id})}"><span class="glyphicon glyphicon-edit"></span></a></td>	
			</tr>
		</tbody>
	</table>
</div>
	

</section>

<footer >
  <p>Copyright Les amis de l'escalade - Tous droits réservés</p>  
</footer>  


</body>
</html>