<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{Layout}">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Les amis de l'escalade - Mise en relation et partage entre passionés</title>
</head>

<body>

<section layout:fragment="content">
	
	
	
	
	<div id="titre_tableau" class=container>
		<h5><strong> MES SPOTS </strong></h5>
	</div>
	
	<div id="mes_spots" class=container>
		<table class="table table-bordered table-striped">		
			<thead>
				<tr>
					<th>Nom</th><th>Département</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="spot:${listeSpotsUtilisateur}">
					<td th:text="${spot.nom}"></td>
					<td th:text="${spot.departement}"></td>
					<td><a onclick="return confirm('Etes-vous sûr de vouloir supprimer ?')" th:href="@{/user/supprimerspot(idSpot=${spot.id}, page=${pageCourante}, size=${size})}">Supprimer</a></td>				
					<td><a th:href="@{/user/ajoutersecteur(idSpot=${spot.id})}">Secteurs</a></td>									
					<td><a th:href="@{/user/ajoutercommentaire(idSpot=${spot.id})}">Commentaires</a></td>	
				</tr>
			</tbody>
		</table>
	</div>
	
	
	
	<div id="titre_tableau" class=container>
		<h5><strong> MES TOPOS </strong></h5>
	</div>
	
	<div id="mes_topos" class=container>			
		<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
					<th>Nom du topo</th><th>Nom du spot</th><th>Lieu</th><th>Date de parution</th><th>Description</th><th>Statut</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="topo:${listeToposUtilisateur}">
					<td th:text="${topo.nom}"></td>
					<td th:text="${topo.spot.nom}"></td>
					<td th:text="${topo.lieu}"></td>
					<td th:text="${topo.dateParution}"></td>
					<td th:text="${topo.description}"></td>
					<td th:switch="${topo.statut}">
	            		<p th:case="true" class="green"> Disponible </p>
		    			<p th:case="false" class="red">Indisponible</p>
					</td>
					<td><a th:href="@{/user/modifiertopo(idTopo=${topo.id})}">Modifier</a></td>
					<td><a onclick="return confirm('Etes-vous sûr de vouloir supprimer ?')" th:href="@{/user/supprimertopo(idTopo=${topo.id})}">Supprimer</a></td>				
					<td><a th:href="@{/user/statuttopo(idTopo=${topo.id})}"  class="btn btn-primary">Statut topo</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
	
	<div id="titre_tableau" class=container>
		<h5><strong> TOPOS DEMANDES </strong></h5>
	</div>
	
	<div id="listeDemandesPret" class=container>		
		<table class="table table-bordered table-striped table-condensed">
		
			<thead>
				<tr>
					<th>Nom du topo</th><th>Nom du spot</th><th>Propriétaire</th><th>Statut</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="reservation:${listeReservationsUtilisateur}">
					<td th:text="${reservation.topo.nom}"></td>
					<td th:text="${reservation.topo.spot.nom}"></td>										
					<td th:text="${reservation.topo.utilisateur.pseudo}"></td>
					<td th:text="${reservation.statut}"></td>					
				</tr>
			</tbody>
		</table>
	</div>
	


	<div id="titre_tableau" class=container>
		<h5><strong> MES DEMANDES DE RESERVATION </strong></h5>
	</div>	
	
	<div id="listeDemandesReservation" class=container>		
		<table class="table table-bordered table-striped">
		
			<thead>
				<tr>
					<th>Nom du topo</th><th>Nom du spot</th><th>Demandeur</th><th>Statut</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="reservation:${listeReservationsToposUtilisateur}">
					<td th:text="${reservation.topo.nom}"></td>
					<td th:text="${reservation.topo.spot.nom}"></td>					
					<td th:text="${reservation.utilisateur.pseudo}"></td>
					<td th:text="${reservation.statut}"></td>					
					<td><a th:if="${reservation.enCours}" th:href="@{/user/resaOk(idReservation=${reservation.id})}"  class="btn btn-primary">Accepter</a></td>	
					<td><a th:if="${reservation.enCours}" th:href="@{/user/refusResa(idReservation=${reservation.id})}"  class="btn btn-primary">Refuser</a></td>				
				</tr>
			</tbody>
		</table>
	</div>

</section>

<footer >
  <p>Copyright Les amis de l'escalade - Tous droits réservés</p>  
</footer>  


</body>
</html>