<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{Layout}">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Les amis de l'escalade - Mise en relation et partage entre passionés</title>
</head>

<body>

<section layout:fragment="content"> 
	
	<div id = "titre" class = container>
	<strong> MES TOPOS </strong>
	</div>
	
	<div id="listeTopo" class=container>
		
		<table class="table">
			<thead>
				<tr>
					<th>Nom</th><th>Lieu</th><th>Date de parution</th><th>Description</th><th>Statut</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="topo:${listeTopos}">
					<td th:text="${topo.nom}"></td>
					<td th:text="${topo.lieu}"></td>
					<td th:text="${topo.dateParution}"></td>
					<td th:text="${topo.description}"></td>
					<td ><div th:switch="${topo.statut}">
	            		<p th:case="true"> Disponible </p>
		    			<p th:case="false">Indisponible</p>
						</div>
					</td>
					<td><a th:href="@{/admin/modifiertopo(idTopo=${topo.id})}">Modifier</a></td>
					<td><a onclick="return confirm('Etes-vous sûr de vouloir supprimer ?')" th:href="@{/admin/supprimertopo(idTopo=${topo.id})}">Supprimer</a></td>				
					<td><a th:href="@{/admin/statuttopo(idTopo=${topo.id})}"  class="btn btn-primary">Statut topo</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div id = "titre" class = container>
	<strong> MES DEMANDES DE PRET </strong>
	</div>


</section>

<footer>
  <p>Copyright Les amis de l'escalade - Tous droits réservés</p>  
</footer>  


</body>
</html>