<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" /> 
<title>Les amis de l'escalade - Mise en relation et partage entre passionés</title>
</head>

<body>

<section layout:fragment="content">

<div class="container">

<div id="liste_secteur" class=container>
		<table class="table">
			<thead>
				<tr>
				<th>Nom</th><th>Hauteur</th><th>Nombre de points</th><th>Cotation</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="voie:${listeVoies}">
					<td th:text="${voie.nom}"></td>
					<td th:text="${voie.hauteur}"></td>
					<td th:text="${voie.nombrePoints}"></td>
					<td th:text="${voie.cotation}"></td>
					<td><a th:href="@{/admin/modifiervoie(idVoie=${voie.id})}">Modifier</a></td>				
					<td><a onclick="return confirm('Etes-vous sûr de vouloir supprimer ?')" th:href="@{/admin/supprimervoie(idVoie=${voie.id}, idSecteur=${voie.secteur.id})}">Supprimer</a></td>								
					<td><a th:href="@{/admin/ajouterlongueur(idVoie=${voie.id})}">Longueurs</a></td>
				</tr>
			</tbody>
		</table>
	</div>

<div class="spacer col-md-6 col-xs-12">
	<div class="panel panel-default">	
		<div class="panel-heading"><h4>Ajout d'une voie</h4></div>
			<div class="panel-body">
				<form th:action="@{/admin/saveajoutvoie(idSecteur=${idSecteur})}" method="post">
					<div class="form-group">
						<label class="control-label">Nom :</label>
						<input class="form-control" type="text" name="nom" th:value="${voie.nom}"/>
						<span class="red" th:errors="${voie.nom}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Hauteur :</label>
						<input class="form-control" type="text" name="hauteur" th:value="${voie.hauteur}"/>
						<span class="red" th:errors="${voie.hauteur}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Nombre de points :</label>
						<input class="form-control" type="text" name="nombrePoints" th:value="${voie.nombrePoints}"/>
						<span class="red" th:errors="${voie.nombrePoints}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Cotation : </label>
						<input class="form-control" type="text" name="cotation" th:value="${voie.cotation}"/>
						<span class="red" th:errors="${voie.cotation}"></span>
					</div>
					<div>
					<button type="submit" class="btn btn-primary">Ajouter voie</button>
					</div>
				</form>
			</div>
	</div>
</div>
</div>
</section>

<footer>
<p layout:fragment="footer"></p>
</footer>

</body>
</html>