<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" /> 
<title>Les amis de l'escalade - Mise en relation et partage entre passionés</title>
</head>

<body>

<section layout:fragment="content">

<div id = "titre" class = container>
	<strong> LISTE DES TOPOS DU SPOT </strong>
</div>
	
<div class="container">

	<div id="topo" class=container>
		
		<table class="table">
			<thead>
				<tr>
					<th>Nom</th><th>Lieu</th><th>Date de parution</th><th>Description</th><th>Statut</th><th>Propriétaire</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="topo:${listeTopos}">
					<td th:text="${topo.nom}"></td>
					<td th:text="${topo.lieu}"></td>
					<td th:text="${topo.dateParution}"></td>
					<td th:text="${topo.description}"></td>
					<td ><div th:switch="${topo.statut}">
	            		<p th:case="true"> Disponible </p>
		    			<p th:case="false">Indisponible</p>
						</div>
					</td>
					<td th:text="${utilisateurPseudo}"></td>
					<td><a th:href= "@{/admin/demandertopo(idTopo=${topo.id})}"method="get" class="btn btn-primary">Demander topo</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	
<div class="spacer col-md-6 col-xs-12">
	<div class="panel panel-default">	
		<div class="panel-heading"><h4>Ajout d'un topo</h4></div>
			<div class="panel-body">
				<form th:action="@{/admin/saveajouttopo(idSpot=${idSpot})}" method="post">
					<div class="form-group">
						<label class="control-label">Nom :</label>
						<input class="form-control" type="text" name="nom" th:value="${topo.nom}"/>
						<span class="red" th:errors="${topo.nom}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Lieu :</label>
						<input class="form-control" type="text" name="lieu" th:value="${topo.lieu}"/>
						<span class="red" th:errors="${topo.lieu}"></span>					
					</div>
					<div class="form-group">
						<label class="control-label">Date de parution :</label>
						<input class="form-control" type="text" name="dateParution" th:value="${topo.dateParution}"/>
						<span class="red" th:errors="${topo.dateParution}"></span>					
					</div>
					<div class="form-group">
						<label class="control-label">Description :</label>
						<textarea class="form-control" rows=10 cols=40 name="description" th:value="${topo.description}"></textarea>
						<span class="red" th:errors="${topo.description}"></span>
					</div>
					<div>
					<button type="submit" class="btn btn-primary">Ajouter</button>
					</div>
				</form>
			</div>
	</div>
</div>
</div>
</section>

<footer>
<p layout:fragment="footer"></p>
</footer>



</body>
</html>