<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" /> 
<title>Les amis de l'escalade - Mise en relation et partage entre passionés</title>
</head>

<body>

<section layout:fragment="content">

<div class="container">

<div class="spacer col-md-6 col-xs-12">
	<div class="panel panel-default">	
		<div class="panel-heading"><h4>Ajout d'un topo</h4></div>
			<div class="panel-body">
				<form th:action="@{/user/saveajouttopo}" method="post">
					<div class="form-group">
						<label class="control-label">Nom :</label>
						<input class="form-control" type="text" name="nom" th:value="${topo.nom}"/>
						<span class="red" th:errors="${topo.nom}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Lieu :</label>
						<input class="form-control" type="text" name="lieu" th:value="${topo.lieu}"/>
						<span class="red" th:errors="${topo.lieu}"></span>					
					</div>
					<div class="form-group">
						<label class="control-label">Date de parution :</label>
						<input class="form-control" type="text" name="dateParution" th:value="${topo.dateParution}"/>
						<span class="red" th:errors="${topo.dateParution}"></span>					
					</div>
					<div class="form-group">
						<label class="control-label">Description :</label>
						<textarea class="form-control" rows=10 cols=40 name="description" th:value="${topo.description}"></textarea>
						<span class="red" th:errors="${topo.description}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Statut :</label>
						<input class="form-control" rows=10 cols=40 name="statut" th:value="${topo.statut}"></textarea>
						<span class="red" th:errors="${topo.statut}"></span>
					</div>
					<div>
					<button type="submit" class="btn btn-primary">Ajouter</button>
					</div>
				</form>
			</div>
	</div>
</div>
</div>
</section>

<footer>
<p layout:fragment="footer"></p>
</footer>



</body>
</html>