<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" /> 
<title>Les amis de l'escalade - Mise en relation et partage entre passionés</title>
</head>

<body>

<section layout:fragment="content" >

<div class="container">

<div id="liste_secteur" class="table-responsive col-lg-6 col-md-4 col-xs-12">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Nom</th>
					<th sec:authorize="hasAuthority('ADMIN')">Modifier</th>
					<th sec:authorize="hasAuthority('ADMIN')">Supprimer</th>
					<th sec:authorize="isAuthenticated()">Voies</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="secteur:${listeSecteurs}">
					<td th:text="${secteur.nom}"></td>
					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/admin/modifiersecteur(idSecteur=${secteur.id})}"><span class="glyphicon glyphicon-cog"></span></a></td>				
					<td sec:authorize="hasAuthority('ADMIN')"><a onclick="return confirm('Etes-vous sûr de vouloir supprimer ?')" th:href="@{/admin/supprimersecteur(idSecteur=${secteur.id}, idSpot=${secteur.spot.id})}"><span class="glyphicon glyphicon-trash"></span></a></td>								
					<td><a th:href="@{/user/ajoutervoie(idSecteur=${secteur.id})}"><span class="glyphicon glyphicon-road"></span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="container">

<div class="spacer col-lg-4 col-md-4 col-xs-6">
	<div class="panel panel-default">	
		<div class="panel-heading"><h4>Ajout d'un secteur</h4></div>
			<div class="panel-body">
				<form th:action="@{/user/saveajoutsecteur(idSpot=${idSpot})}" method="post">
					<div class="form-group">
						<label class="control-label">Nom :</label>
						<input class="form-control" type="text" name="nom" th:value="${secteur.nom}"/>
						<span class="red" th:errors="${secteur.nom}"></span>
					</div>
					<div>
					<button type="submit" class="btn btn-primary"><strong>Ajouter secteur</strong></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

</section>

<footer>
<p layout:fragment="footer"></p>
</footer>

</body>
</html>