<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8"/>
<title>Layout</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
  
    <header>
        <div id="titre_principal" class="container">
        <h1>Les amis de l'escalade</h1>
            <h2>S’adonner à l’escalade et profiter de la beauté des sites naturels</h2>
        </div>
    </header>

	
	
    	<div class="container">
        <article>
    	<p>Bonjour et bienvenue sur le site de l'association <strong>Les amis de l'escalade.</strong></p>
    	<p>L’escalade est un sport qui ne cesse d’attirer de plus en plus d’adeptes avides de nouvelles sensations. Pour pouvoir le pratiquer convenablement et en toute sécurité, il vaut mieux connaitre les sites de grimpe.</p>
    	<p>Notre association a pour but de mettre en relation nos membres afin qu'ils puissent échanger et partager entre eux leurs expériences concernant les nombreux sites d'escalade.</p>
    	<p>Alors impatient de rejoindre notre communauté de grimpeurs ?</p>
    
           <div id="photos_accueil" class="container">
            <figure>
            <img src="/image_site_de_grimpe.jpg" alt="Photo de site avec membres de l'association" title = "Nos membres en action !" />
            <figcaption>Ablon-Haute Savoie</figcaption>
            </figure>

            <figure>
            <img src="/image_site_de_grimpe3.jpg" alt="Photo indoor avec membres de l'association" title = "Notre passion en tout temps !" />
            <figcaption>Session en indoor-Paris</figcaption>
            </figure>

            <figure>
            <img src="/image_site_de_grimpe4.jpg" alt="Photo de site avec membres de l'association4" title = "Des paysages sublimes !" />
            <figcaption>Gorges du Tarn-Lozère</figcaption>
            </figure>

            <figure>
            <img src="/image_site_de_grimpe5.jpg" alt="Photo de site avec membres de l'association5" title = "Apprentissage a tout age !" />
            <figcaption>Eyroles-Drôme</figcaption>
            </figure>
        </div>

        </article>
    </div>
    
    <div class="container">
   		<div class="navbar navbar-default">
			<nav>
				<ul class="nav nav-pills">
					<li><a th:href="@{spots}">Spots d'escalade</a></li>
                	<li><a th:href="@{inscription}">S'inscrire</a></li>
                	<li><a th:href="@{connection}">Se connecter</a></li>
                	<li><a href="@{espaceperso}">Espace perso</a></li>
                	<li><a th:href="@{/login?logout}" th:inline="text">[[${#httpServletRequest.remoteUser}]] Se deconnecter</a></li>
				</ul>
			</nav>
		</div>
	</div>
  
  
  
  <section layout:fragment="content"></section> 
   
 	

	<footer class="navbar-fixed-bottom">
	
	Copyright-Les amis de l'escalade-2020
	
	</footer>

</body>
</html>