<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{Layout}">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Les amis de l'escalade - Mise en relation et partage entre passionés</title>
</head>

<body>

<section layout:fragment="content">

<div class="container">
	<div class="form-group">
		
		<div><strong>Vous avez bien modifié ce topo</strong></div>
			
			<label class="control-label">Nom:</label>
			<label class="control-label" th:text="${topo.nom}"></label>
				
			<label class="control-label">Lieu:</label>
			<label class="control-label" th:text="${topo.lieu}"></label>
			
			<label class="control-label">Date de parution:</label>
			<label class="control-label" th:text="${topo.dateParution}"></label>
			
			<label class="control-label">Description:</label>
			<label class="control-label" th:text="${topo.description}"></label>
				
	</div>
</div>


</section>

<footer>
<p layout:fragment="footer"></p>
</footer> 

</body>
</html>