<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" /> 
<title>Les amis de l'escalade - Mise en relation et partage entre passionés</title>
</head>

<body>

<section layout:fragment="content">

<div class="container">

<div class="spacer col-lg-4 col-md-4 col-xs-6">
	<div class="panel panel-default">	
		<div class="panel-heading"><h4>Modification d'un secteur</h4></div>
			<div class="panel-body">
				<form th:action="@{/admin/savemodifsecteur(idSecteur=${secteur.id})}" method="post">
					<div class="form-group">
						<label class="control-label">Nom :</label>
						<input class="form-control" type="text" name="nom" th:value="${secteur.nom}"/>
						<span class="red" th:errors="${secteur.nom}"></span>
					</div>
					<div>
					<button type="submit" class="btn btn-primary">Modifier</button>
					</div>
				</form>
			</div>
	</div>
</div>
</div>
</section>

<footer>
<p layout:fragment="footer"></p>
</footer>



</body>
</html>