<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Les amis de l'escalade - Mise en relation et partage entre passionés</title>
</head>

<body>

<section layout:fragment="content">

<div id="recherche" class="container">
	
	<div id="boutonRechercherSpotByNom" class="container">		
		<form class="form-inline" th:action="@{/listespots}" method="get">
			<label>Nom : </label>
			<input type="text" name="motCle" th:value="${motCle}">
			<button class="btn btn-primary"><strong>Rechercher</strong></button>	
		</form>
	</div>
	
	<div id="boutonRechercherSpotByDepartement" class="container">				
		<form class="form-inline" th:action="@{/rechercheParDepartement}" method="get">
			<label>Departement : </label>
			<input type="text" name="motCleDep" th:value="${motCleDep}">
			<button class="btn btn-primary"><strong>Rechercher</strong></button>	
		</form>	
	</div>	

</div>

<div class="container">   

	<div id="sites_d_escalade" class="table-responsive col-lg-12 col-md-4 col-xs-12">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Nom</th><th>Département</th><th>Ajouté par</th>
					<th sec:authorize="hasAuthority('ADMIN')">Modifier</th>
					<th sec:authorize="hasAuthority('ADMIN')">Supprimer</th>
					<th sec:authorize="isAuthenticated()">Secteurs</th>
					<th sec:authorize="isAuthenticated()">Commentaires</th>
					<th sec:authorize="isAuthenticated()">Topos</th>
					<th>Officiel</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="spot:${listeSpotsDepartement}">
					<td th:text="${spot.nom}"></td>
					<td th:text="${spot.departement}"></td>
					<td th:text="${spot.utilisateur.pseudo}"></td>
					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/admin/modifierspot(idSpot=${spot.id})}"><span class="glyphicon glyphicon-cog"></span></a></td>				
					<td sec:authorize="hasAuthority('ADMIN')"><a onclick="return confirm('Etes-vous sûr de vouloir supprimer ?')" th:href="@{/admin/supprimerspot(idSpot=${spot.id}, page=${pageCourante}, size=${size}, motCle=${motCle})}"><span class="glyphicon glyphicon-trash"></span></a></td>				
					<td sec:authorize="isAuthenticated()"><a th:href="@{/user/ajoutersecteur(idSpot=${spot.id})}"><span class="glyphicon glyphicon-flag"></span></a></td>									
					<td sec:authorize="isAuthenticated()"><a th:href="@{/user/ajoutercommentaire(idSpot=${spot.id})}"><span class="glyphicon glyphicon-edit"></span></a></td>
					<td sec:authorize="isAuthenticated()"><a th:href="@{/user/ajoutertopo(idSpot=${spot.id})}"><span class="glyphicon glyphicon-globe"></span></a></td>
					<td th:switch="${spot.tagOfficiel}" >
	            		<p th:case="true"><span class="glyphicon glyphicon-heart"></span></p>
		    			<p th:case="false" ></p>
        			</td>	
        			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/admin/taguerspot(idSpot=${spot.id})}">Taguer spot</a></td>
						
        		</tr>
			</tbody>
		</table>
	</div>

</div> 
   
<div class="container">  
 
	<div id="boutonAjoutSpot" class="container">
		<form sec:authorize="isAuthenticated()" class="form-inline" th:action="@{/user/ajouterspot}" method="get">
			<button class="btn btn-primary"><strong>Ajouter spot</strong></button>	
		</form>	
	</div>
	<div class="container">
      	<ul class="pagination">
      	 	<li th:class="${pageCourante}==${status.index}?'active':''" th:each="p,status:${pagesDep}">
      	 		<a  th:href="@{/rechercheParDepartement(page=${status.index}, size=${size}, motCle=${motCle})}" th:text="${status.index}"></a>
      	 	</li >
      	</ul>
    </div> 
    <div id="boutonRechercheTopoDispo" class="container" >		
		<form class="form-inline" th:action="@{/rechercheParTopoDispo}" method="get">
			<button class="btn btn-primary"><strong>Rechercher Topos dispo</strong></button>	
		</form>
	</div>
	
</div>
    
    
</section>

<footer>
<p layout:fragment="footer"></p>
</footer>

</body>
</html>