<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Les amis de l'escalade - Mise en relation et partage entre passionés</title>
</head>

<body>

<section layout:fragment="content">


<div class="container">
	<form th:action="@{/user/spots}" method="get">
	<label>Nom : </label>
	<input type="text" name="motCle" th:value="${motCle}">
	<button class="btn btn-primary">Rechercher</button>	
	</form>
</div>

<p></p>

	<div id="sites_d_escalade" class=container>
		<table class="table">
			<thead>
				<tr>
					<th>Nom</th><th>Département</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="spot:${listeSpots}">
					<td th:text="${spot.nom}"></td>
					<td th:text="${spot.departement}"></td>				
					<td><a th:href="@{/user/ajoutercommentaire(id=${spot.id})}">Commentaires</a></td>
					<td><a th:href="@{/user/ajoutersecteur(id=${spot.id})}">Secteurs</a></td>				
					<td><a th:href="@{/user/ajoutertopo(id=${spot.id})}">Topos</a></td>
				</tr>
			</tbody>
		</table>
	</div>
     
    <div class="container">
      <ul class="pagination">
      	 <li th:class="${pageCourante}==${status.index}?'active':''" th:each="p,status:${pages}">
      	 <a  th:href="@{/user/spotsuser(page=${status.index}, size=${size}, motCle=${motCle})}" th:text="${status.index}"></a>
      	 </li >
      </ul>
    </div> 
    
    <div class="container">
    	<form th:action="@{/user/ajouterspot}" method="get">
		<button class="btn btn-primary">Ajouter spot</button>	
		</form>	
	</div>
	
</section>

<footer>
<p layout:fragment="footer"></p>
</footer>

</body>
</html>